/** @jsxImportSource theme-ui */

import React from 'react'

interface {{ properCase componentName }}Props {}

/**
*
* {{ properCase componentName }} component
*
*/
export const {{ properCase componentName }} = (props: {{ properCase componentName }}Props) => {

  return (
    <div>
      {'{{ properCase componentName }}'}
    </div>
)}
